:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e3ecef;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #14181b;
  color: #fff;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #01a7e1;
}

.header-links {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color:#01a7e1;
}

.footer {
  background-color: #14181b;
  color: #fff;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #01a7e1;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
